<section class="bg-secondary">
  <div class="ph3 ph5-ns pt6 mb6">
    <div class="mw9 center">
      <h1 class="f5 mt0 tc ttu tracked">Clients using our services</h1>
      <!--<h3 class="f6 fw6 mt0 mb4 tc ttu tracked">Clients using our services</h3>-->
      <div class="flex items-center mw6 mw7-l center">
        <div class="pa2 pa3-l"><img class="br2 db w-100" src="{{ '/assets/img/logo-eon.png' | relative_url }}" alt="EON"></div>
        <div class="pa2 pa3-l"><img class="br2 db w-100" src="{{ '/assets/img/logo-rbs.png' | relative_url }}" alt="RBS"></div>
        <div class="pa2 pa3-l"><img class="br2 db w-100" src="{{ '/assets/img/logo-mod.png' | relative_url }}" alt="Ministry of Defence"></div>
        <div class="pa2 pa3-l"><img class="br2 db w-100" src="{{ '/assets/img/logo-pg.jpg' | relative_url }}" alt="Procter and Gamble"></div>
        <div class="pa2 pa3-l"><img class="br2 db w-100" src="{{ '/assets/img/logo-home_office.png' | relative_url }}" alt="Home Office"></div>
      </div>
      <div class="flex items-center mw6 mw7-l center">
        <div class="pa2 pa3-l"><img class="br2 db w-100" src="{{ '/assets/img/logo-fca.png' | relative_url }}" alt="FCA"></div>
        <div class="pa2 pa3-l"><img class="br2 db w-100" src="{{ '/assets/img/logo-vm.png' | relative_url }}" alt="Virgin Media"></div>
        <div class="pa2 pa3-l"><img class="br2 db w-100" src="{{ '/assets/img/logo-o2.png' | relative_url }}" alt="O2"></div>
        <div class="pa2 pa3-l"><img class="br2 db w-100" src="{{ '/assets/img/logo-nationwide.png' | relative_url }}" alt="Nationwide"></div>
        <div class="pa2 pa3-l"><img class="br2 db w-100" src="{{ '/assets/img/logo-pwc.png' | relative_url }}" alt="PWC"></div>
      </div>
    </div>
  </div>
</section>
