<section class="bg-secondary">
  <div class="ph3 ph5-ns pt6 mb6">
    <div class="mw9 center">
      <h1 class="f5 mt0 tc ttu tracked">Clients using our services</h1>
      <div class="flex items-center mw6 mw7-l center">
        {%- assign clients = site.data.clients -%}
        {%- for client in clients limit:5 -%}
          <div class="pa2 pa3-l"><img class="br2 db w-100" src="{{ '/assets/img/' | append: client.logo | relative_url }}" alt="{{ client.name }} logo"></div>
        {%- endfor -%}
      </div>
      <div class="flex items-center mw6 mw7-l center">
        {%- assign clients = site.data.clients | reverse -%}
        {%- for client in clients limit:5 -%}
          <div class="pa2 pa3-l"><img class="br2 db w-100" src="{{ '/assets/img/' | append: client.logo | relative_url }}" alt="{{ client.name }} logo"></div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
