---
layout: default
---
<section class="w-100">
  <article class="pb4 page">
    <div class="ph3 ph5-ns pt4">
      <section class="mw9 pv4-l center flex flex-wrap items-center-ns">
        <div class="headline w-100 w-50-l">
          {%- if page.title -%}
          <h1 class="f5 pv3 ttu tracked mt0">{{ page.title | escape }}</h1>
          {%- endif -%}
          {%- if page.excerpt -%}
          <p class="f3 f3-ns measure dib-m lh-copy mt0">{{ page.excerpt | escape }}</p>
          {%- endif -%}
          <span class="f4 f3-ns">{{ content }}</span>
        </div>
      </section>
    </div>
  </article>
</section>
